
.logo{
    color: black;
    margin-left: 150px;
    font-size: 25px;
    margin-top: -10px;
    

}

header{
  margin-top: 0%;
}


.logo:hover{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

main{
  margin-top: 150px;
 

}



span{
    color:white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navbar{
    background-color:#d1d0f5 ;
    padding: 1.5rem 0 ;
    margin:2em;
    margin-top: -9px;
   border: 0px solid black;
    box-shadow: black;
    margin-right: -30px;
    margin-left: -30px;
    
   
    
}



  .liste {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  margin-left: 400px;
  margin-top: -20px;
  
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1rem ;
    font-weight: 520;
    font-size: 18px;
    
  
    
  }
  
  
  li a:hover {
    text-decoration: underline white;
    color: white;
    font-weight: bold;
  }




  .titre{
    background: #8b8ad6;
    margin-top: -30px;
    margin-right: -30px;
    margin-left: -30px;
    border: 1px solid black;

  }

  .titre3{
    display: block;
   
    text-align: center;
    padding: 2em 0 1em 1em;
    color: white;
    margin-bottom: 50px;
    margin: 0.5rem;
    
  }



  .sous-titre{
    
    color: white;
    text-align: center;
    margin-top: -46px;
    font-size: 1rem;
    padding: 1rem;
    
  }




  .video{
  
    margin-left: 370px;

  }


  *{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 1.5px;
  }



h1{ 
  font-size: 25px;
}


.title{
  border-bottom: 1px solid rgb(150, 149, 149);
  font-size: 20px;
}



.image{
  margin-left: 350px;
  margin-top: -40px;
}


.image2{
  margin-left: 900px;
  margin-top: -100px;
  
  
}

.paragraphe{
  margin-top: 50px;
}


.contenu{
  margin-left: 15px;
}


.title1{
  color: #6f6ed9;
  font-weight: bold;
}

table{
  border: 2px solid rgb(150, 149, 149);
  border-collapse: collapse; 
  margin-left: 400px;
}

.lien:hover{
     color: #6f6ed9;
     font-weight: bold;
     font-size: 20px;
}


.contact{
  background-color: #a7a7a8;
  margin-top: -15px;
  
}


.contactform{
  width: 30%;
  height: 60%;
  border: 1px solid black;
  border-radius: 50px;
  margin-left: 440px;
  background: white;

}

.input{
  margin-left: 50px;
  margin-top: 30px;
 
}





.btn{
  display: block;
  width: 30%;
  height: 50%;
  padding: 0.5rem;
  margin-left:140px ;
  margin-top: -30px;
  background-color:#6f6ed9;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;


}




.p{
  font-size: 13px;
}

.msg{
  margin-top: -30px;
  font-weight: bold;
}

.btn2{
  text-decoration: none;
  text-align: center;
  background: black;
  color: white;
  font-weight: bold;
}


.fleche{
  margin-left: 1200px;
}

.photo{
  display: flex;
  align-content: center;
  align-items: center;
  margin-left: 900px;
}



.imagehtml{
  margin-top: -500px;
  
}

.imagecss{
  margin-left: -100px;
  margin-top: -1000px;
}


.h{
  display: block;
  margin-top: -240px;
  margin-left: -100px;
  

}


.c{
  display: block;
  margin-top: -750px;
  margin-left: -85px;

  

}
footer{
  bottom: 0%;
}



.langue {
  margin-left: 1150px;
  margin-top: -190px;
}



ul{
  list-style: none;
  margin-top: -20px;
  margin-left:-40px;
  margin-top: -15px;
}



.footer3 li{
  padding: 0.5rem;
  cursor: pointer;
  display: inline;
}




.contenu-footer{
 
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-start;
  align-content: justify;
  padding: 1.5rem 0 ;
  margin:2em;
  margin-left: 250px;
  margin-top: 20px;
}



.mot{
  color: #8b8ad6;
  margin-left: 20px;
  
}

.mot1{
  color: #8b8ad6;
  margin-left: 50px;
}


.footer1{
  margin-right: 150px;
}


.footer3{
  margin-left: 150px;
}

